/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    
}

/* Header */
header {
    background-color: red;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;

}

#menu > li {
    margin-bottom: 1em;

}

.active {
border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toogle*/
nav{
    position: absolute;
    background-color: red;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/* Navbar toggle*/
#nav-toggle:checked~nav {
    display: block;   
}

#nav-toggle {
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}

/* Main content*/
main {
    
    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Mini-box under header*/



.styled-header-text {
    margin: 10px;
    font-weight: bolder;
    font-size: 1.25rem;
    color: red;
    
}

.border{
   border: 1px solid rgb(226, 224, 226); 
}

#little-offerbox-1 {
    background-color: #ffffff;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;

}

#little-offerbox-2 {
    background-color: #ffffff;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;

}

.mini-offerbox {
    background-color: transparent;
    width: 100px;
    height: 100px;
    margin: 25px 0;

}

/*mini-offers pictures*/



#mini-ob-pic-1 {
    background: url(../images/Jättefranska\ .jpg)  left center / 70px 70px no-repeat;
    width: 100px;
    height: 100px;

}

#mini-ob-pic-2 {
    background: url(../images/Högrevsfärs.jpg) left center / 70px 70px no-repeat;
    width: 100px;
    height: 100px;

}

#mini-ob-pic-3 {
    background: url(../images/Toalettpapper_Hushållspapper.png) left center / 70px 70px no-repeat;
    width: 100px;
    height: 100px;

}

#mini-ob-pic-4 {
    background: url(../images/Pågenlimpan.jpg) left center / 70px 70px no-repeat;
    width: 100px;
    height: 100px;

}
/* Main boxes*/

#offical-offerbox {
    width: 100%;
    height: 800px;
}


#offical-main-offerbox {
    width: 100%;
    height: 750px;
    background: url(../images/pexels-photo-264636.jpeg) center center / cover no-repeat;
    position: relative;
    margin-top: 50px;
}

#offical-main-offerbox-2{
    width: 100%;
    height: 750px;
    background: url(../images/pexels-photo-868110.jpeg) center center / cover no-repeat;
    position: relative;
    margin-top: 50px;
}


#offical-mini-offerbox-left {
    width: 200px;
    height: 300px;
    background-color: red;
    position: relative;
    bottom: 780px;
    
    

}

#offical-mini-offerbox-right {
    width: 200px;
    height: 300px;
    background-color: red;
    position: relative;
    bottom: 570px;
    left: 80px;
    
    
}

.styled-header3-text {
    margin: 10px;
    color: #ffffff;
    text-align: center;
}


#offical-mini-offerbox-left ul,
#offical-mini-offerbox-right ul{
    list-style-type: none;
    
}

#offical-mini-offerbox-left li, #offical-mini-offerbox-right li {
    margin: 10px;
}

#offical-mini-offerbox-left a,
#offical-mini-offerbox-right a {
    color: #ffffff;
}

#offical-mini-offerbox-left a:hover,
#offical-mini-offerbox-right a:hover {
    color: black;
}


.store-session p {
 margin: 8px;
}

.store-session > h2, .store-session > h3, .store-session > h4 {
    margin: 8px;
}

.img-storelogo{
    width: 100%;
    margin-top: 10px;
}

hr {
    margin: 40px 0;
}

.container-info-box {
    background-color: red;
    color: #ffffff;
    margin-top: 10px;
    }

.product-bg {
    width: 100%;
    height: 276px;
    background-color: #ffffff;
    margin-top: 5px;
}
#product-1 {
    width: 276px;
    height: 276px;
    background: url(../images/Pågenlimpan.jpg) center center/ cover no-repeat;
    
}

#product-2 {
    width: 276px;
    height: 276px;
    background: url(../images/Högrevsfärs.jpg) center center/ cover no-repeat;
    
}

#product-3 {
    width: 276px;
    height: 276px;
    background: url(../images/Jättefranska\ .jpg) center center/ cover no-repeat;
    
}

#product-4 {
    width: 276px;
    height: 276px;
    background: url(../images/Toalettpapper\ 6-pack.jpg) center center/ cover no-repeat;
    
}

.container-info-box h3, .container-info-box h4, .container-info-box p, .container-info-box ul {
    margin-top: 10px;
    margin-left: 5px;
}


table {
    width: 100%;
    margin-top: 20px;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

tr,
th,
td {
    text-align: left;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 3px;
}

.table-link-white a {
    color: #ffffff;

}

.table-link-white a:hover {
    color: black;

}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}



#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
    /* Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none; 
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content*/
    main {
        /* Push main content down to accommodate larger header*/
        margin-top: 79px;
    }
.styled-header-text {
    font-size: 180%;
}

.mini-offerbox {

}

#mini-ob-pic-1 {
    background: url(../images/Jättefranska\ .jpg) center center / 150px 150px no-repeat;
    width: 150px;
    height: 150px;

}

#mini-ob-pic-2 {
    background: url(../images/Högrevsfärs.jpg) center center / 150px 150px no-repeat;
    width: 150px;
    height: 150px;

}

#mini-ob-pic-3 {
    background: url(../images/Toalettpapper_Hushållspapper.png) center center / 150px 150px no-repeat;
    width: 150px;
    height: 150px;

}

#mini-ob-pic-4 {
    background: url(../images/Pågenlimpan.jpg) center center / 150px 150px no-repeat;
    width: 150px;
    height: 150px;

}

#offical-mini-offerbox-left {
    width: 350px;
    font-size: 120%;
    bottom: 790px;
    


}

#offical-mini-offerbox-right {
    width: 350px;
    font-size: 120%;
    bottom: 570px;
    left: 400px;


}

  
} 

/* Large devices (laptops and desktops 992px and up)*/
@media screen and (min-width: 992px) {

    #menu  a:hover {
        border-bottom: 1px solid #3a3a3a;
    }


    
}